<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <!-- <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="../css/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/reset.css">
    <!-- <link rel="stylesheet" href="../css/1.css"> -->
    <style>
        .form-control{
            display: inline-block;
            width: 80%;
        }
        .container{
            height: 100%;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <!-- 头文件 -->
        <% include components/header.ejs %>
            <form role="form"  class="col-md-8" style="margin-top: 20px" action="?" method="post">
                <div class="form-group">
                     <label for="title"> 标题：</label><input type="text" class="form-control" id="title" name='title'/>
                </div>
                <div class="form-group">
                     <label for="description">描述：</label><textarea class="form-control"  name="description" id="" ></textarea>
                </div>
                <div class="form-group">
                     <label for="href">链接：</label><input type="text" class="form-control" id="href" name="href" />
                </div>
<!--                 <div class="form-group">
                     <label for="exampleInputFile">File input</label><input type="file" id="exampleInputFile" />
                    <p class="help-block">
                        Example block-level help text here.
                    </p>
                </div> -->
                <button type="submit" class="btn btn-default">添加</button>

            </form>
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>标题</th>
                        <th>描述</th>
                        <th>链接</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <%for(var i = 0,len=banners.length;i<len;i++) {%>
                    <tr class="success ">
                        <td width='3%'><%=banners[i].ID%></td>
                        <td><%=banners[i].title%></td>
                        <td width='60%'><%=banners[i].description%></td>
                        <td width='30%'><%=banners[i].href%></td>
                        <td width='7%'>
                            <a href="?act=mod&id=<%=banners[i].ID%>">修改</a>
                            <a href="?act=del&id=<%=banners[i].ID%>" onclick='return confirm("确定要删除？")'>删除</a>
                        </td>
                    </tr>
                    <%}%>
                </tbody>
            </table> 
        </div>
    </div>
</div>
</body>
</html>